@{
  Layout = "_Layout";
}

@model UniversityReg.Models.Course

<h1>Add New Course</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)

    <input type="submit" value="Add new course" class="btn btn-default" />
}

<input type="button" value="Course List" onclick="location.href='@Url.Action("Index", "Courses")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />