@{
  Layout = "_Layout";
}

@model UniversityReg.Models.Course;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayFor(model => model.Number)</h3>

@if(@Model.Students.Count == 0)
{
  <p>No one has signed up for this course</p>
}
else
{
  <div class="well">
      <h4 class="col-sm-3">Enrolled Students:</h4>
      <ul>
      @foreach(var join in Model.Students)
      {
        <li class="col-sm-9">@join.Student.Name</li>
      }
      </ul>
  </div>
}
<input type="button" value="Edit Course" onclick="location.href='@Url.Action("Edit", "Courses", new { id = Model.CourseId })';" class="btn btn-primary" />
<input type="button" value="Delete Course" onclick="location.href='@Url.Action("Delete", "Courses", new { id = Model.CourseId })';" class="btn btn-primary" />
<input type="button" value="Course List" onclick="location.href='@Url.Action("Index", "Courses")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />