@{
  Layout = "_Layout";
}

@model UniversityReg.Models.Course;

<h2>Course Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.Name)</h3>
<h3>Number: @Html.DisplayFor(model => model.Number)</h3>

@if(@Model.Students.Count == 0)
{
  <p>No one has signed up for this course</p>
}
else
{
  <h4>Enrolled Students:</h4>
  <ul>
  @foreach(var join in Model.Students)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Course List", "Index")</p>
<p>@Html.ActionLink("return home", "Index", "Home")