@{
  Layout = "_Layout";
}

@model UniversityReg.Models.Course;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Students.Count == 0)
{
  <p>This Course doesnt have any Students</p>
}
else
{
  <h4>Students the Course contains:</h4>
  <ul>
  @foreach(var join in Model.Students)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to students", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>