@{
  Layout = "_Layout";
}

@model UniversityReg.Models.Student

<h4>Add a new Student</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Add new student" class="btn btn-default" />
}
<input type="button" value="Student List" onclick="location.href='@Url.Action("Index", "Students")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />